.btn
  display: inline-block
  position: relative
  text-transform: uppercase
  font-size: 14px
  border-radius: 16px
  cursor: pointer

  &:hover
    font-family: "Gotham Book", Arial, sans-serif
    color: $greyDark

  &_blue
    font-size: 13px
    color: #fff
    height: 32px
    line-height: 32px
    padding: 0 15px
    background-color: $blue

    &:hover
      font-family: 'Gotham Light', Arial, sans-serif
      color: #fff

  &_big
    max-width: 363px
    font-family: "Gotham-Medium", Arial, sans-serif
    font-size: 20px
    height: 69px
    line-height: 69px
    border-radius: 34px
    transition: background 0.3s
    +r(550)
      max-width: 363px

    &:hover
      font-family: "Gotham-Medium", Arial, sans-serif
      background-color: $blueDark