<div class="main-menu">

  <div class="container">

    <div class="main-menu__wrap">

      <div class="logo">
        <a href="#">
          <img src="img/logo.jpg" alt="Match2One Logo">
        </a>
      </div>

      <div class="menu-but">
        <div class="open"></div>
        <div class="close"></div>
      </div>

      <div class="menu">

        <ul class="menu__list">

          <li class="menu__el">
            <a class="menu__link" href="#">What we do</a>
          </li>

          <li class="menu__el">
            <a class="menu__link fix" href="#">Advertising Platform</a>
          </li>

          <li class="menu__el">
            <a class="menu__link" href="#">About</a>
          </li>

          <li class="menu__el">
            <a class="menu__link" href="#">Contact</a>
          </li>

        </ul>

      </div><!-- end menu -->

      <div class="mobile-menu">
        <ul>
          <li><a href="#" class="cont">HOME</a>
            <ul class="sub">
              <li><a href="#" class="to_overview">Overview</a></li>
              <li><a href="#" class="fix to_features">Features</a></li>
              <li><a href="#" class="to_pricing">Pricing</a></li>
              <li><a href="#" class="to_prog">What is programmatic advertising?</a></li>
            </ul>
          </li>
          <li><a href="#">What we do</a></li>
          <li><a href="#" class="fix">Advertising Platform</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- end mobile-menu -->

      <div class="actions">

        <ul class="actions__list">

          <li class="actions__el">
            <a href="#" class="actions__link btn btn_blue">
              Request an invite
            </a>
          </li>

          <li class="actions__el">
            <a href="#" class="actions__link btn">
              log in
            </a>
          </li>

        </ul>

      </div><!-- end actions -->

    </div><!-- end main-menu__wrap -->

  </div><!-- end container -->

</div><!-- end main-menu -->