<div class="main-menu">

  <div class="container">

    <div class="main-menu__wrap">

      <div class="logo">
        <a href="#">
          <img src="img/logo.jpg">
        </a>
      </div>

      <div class="menu-but">
        <div class="open"></div>
        <div class="close"></div>
      </div>

      <div class="menu">

        <ul class="menu__list">

          <li class="menu__el">
            <a class="menu__link" href="#">What we do</a>
          </li>

          <li class="menu__el">
            <a class="menu__link fix" href="#">Advertising Platform</a>
          </li>

          <li class="menu__el">
            <a class="menu__link" href="#">About</a>
          </li>

          <li class="menu__el">
            <a class="menu__link" href="#">Contact</a>
          </li>

        </ul>

      </div><!-- end menu -->

      <div class="actions">

        <ul class="actions__list">

          <li class="actions__el">
            <a href="#" class="actions__link btn btn_blue">
              Request an invite
            </a>
          </li>

          <li class="actions__el">
            <a href="#" class="actions__link btn">
              log in
            </a>
          </li>

        </ul>

      </div><!-- end actions -->

    </div><!-- end main-menu__wrap -->

  </div><!-- end container -->

</div><!-- end main-menu -->