<section class="info">

  <div class="container">



    <div class="info__wrap">

      <div class="info__col">

        <p class="info__strong">
          We think programmatic advertising should be easy to use, insightful,
          and transparent. Our features and integrations allow you to create smart
          online advertising campaigns in a very intuitive user-interface. And our
          detailed and stunning reports help you keep improving over time.
        </p>
        <p class="info__descr">
          Match2One was founded late 2015 by Mikael Kreuger, Ted Sahlström and
          Michael Dewhirst. The trio had all first-hand seen the fragmented programmatic
          landscape and all the challenges that small and medium advertiser are facing.
          Match2One democratize technology for businesses by creating innovative
          products that empower customers to grow. Today we have offices in Stockholm, London and Kiev.
        </p>

      </div>

      <div class="info__col info__col_right">
        <img src="img/photo-1.jpg" alt="Founding team"/>
      </div>

      <div class="info__col info__col_center">
        <h3 class="info__title">Founding team</h3>

        <div class="figure-group">

          <figure class="figure">
            <div class="figure__ico">
              <img src="img/face-3.png" alt="Founding team"/>
            </div>

            <figcaption class="figure__text">
              <dt class="figure__strong">
                Mikael Kreuger
              </dt>

              <dd class="figure__regular">
                CEO, Co-Founder
                <br>
                <a href="#">
                  <i class="ico ico_in"></i>
                </a>
              </dd>
            </figcaption>
          </figure>

          <figure class="figure">
            <div class="figure__ico">
              <img src="img/face-2.png" alt="Founding team"/>
            </div>

            <figcaption class="figure__text">
              <dt class="figure__strong">
                Ted Sahlstrom
              </dt>

              <dd class="figure__regular">
                Product Director, <br>Co-Founder
                <br>
                <a href="#">
                  <i class="ico ico_in"></i>
                </a>
              </dd>
            </figcaption>
          </figure>

          <figure class="figure">
            <div class="figure__ico">
              <img src="img/face-1.png" alt="Founding team"/>
            </div>

            <figcaption class="figure__text">
              <dt class="figure__strong">
                Michael Dewhirst
              </dt>

              <dd class="figure__regular">
                CTO, Co-Founder
                <br>
                <a href="#">
                  <i class="ico ico_in"></i>
                </a>
              </dd>
            </figcaption>
          </figure>

        </div>
      </div>

      <div class="info__col info__col_right">
        <img src="img/photo-2.jpg" alt="Founding team"/>
      </div>

    </div>

  </div>
</section>
