<section class="contact">

  <div class="container">

    <div class="contact__wrap">

      <div class="col">

        <h5>Stockholm -<br> Head Office</h5>

        <p>Regeringsgatan 65<br> 111 56 Stockholm<br> +46 704 382 141</p>

      </div><!-- end col -->

      <div class="col">

        <h5>Partnerships</h5>

        <h6>Business Enquiries</h6>
        <a href="mailto:partnerships@match2one.com">partnerships@match2one.com</a>

      </div><!-- end col -->

      <div class="col">

        <h5>Support</h5>

        <h6>Questions or issues</h6>

        <p>
          Remember to email us from<br> your registered Match2One<br> account email address.
        </p>

        <a href="mailto:support@match2one.com">support@match2one.com</a>

      </div><!-- end col -->

      <div class="col">

        <h5>Sales</h5>

        <h6>Sales Enquiries</h6>

        <a href="mailto:sales@match2one.com">sales@match2one.com</a>

        <h5>PR</h5>

        <h6>Press & Media Enquiries</h6>

        <a href="mailto:media@match2one.com">media@match2one.com</a>

      </div><!-- end col -->

    </div>


  </div><!-- end container -->



</section>
